services:
  cadvisor:
    container_name: cadvisor
    image: ghcr.io/google/cadvisor:0.54.1
    volumes:
      - /:/rootfs/:ro
      - /var/run:/var/run/:ro
      - /sys:/sys/:ro
      - /var/lib/docker/:/var/lib/docker/:ro
      - /dev/disk/:/dev/disk/:ro
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    expose:
      - "8080"
    privileged: true
    restart: unless-stopped
  node-exporter:
    container_name: node-exporter
    image: quay.io/prometheus/node-exporter:latest
    command:
      - "--path.rootfs=/host"
    volumes:
      - /:/host:ro
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    expose:
      - "9100"
    restart: unless-stopped
  dcgm-exporter:
    container_name: dcgm-exporter
    image: nvidia/dcgm-exporter:4.4.2-4.7.0-distroless
    cap_add:
      - SYS_ADMIN
    expose:
      - "9400"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    restart: unless-stopped
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              capabilities: [gpu]
  prometheus:
    container_name: prometheus
    image: prom/prometheus:latest
    expose:
      - "9090"
    volumes:
      - ./prometheus:/etc/prometheus:ro
      - ./prometheus-data:/prometheus:rw
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    privileged: true
    restart: unless-stopped
  grafana:
    container_name: grafana
    image: grafana/grafana:latest
    ports:
      - 3000:3000
    volumes:
      - ./grafana/grafana.ini:/etc/grafana/grafana.ini:rw
      - ./grafana/provisioning:/etc/grafana/provisioning:ro
      - ./grafana-data:/var/lib/grafana:rw
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    environment:
      - GF_SECURITY_ADMIN_PASSWORD__FILE=/run/secrets/admin_password
    restart: unless-stopped
    secrets:
      - admin_password

secrets:
  admin_password:
    file: secrets/admin_password
